# Build files
/build/
/nbbuild/
/dist/
/nbdist/
/*/build/

# NetBeans specific
/nbproject/private/
/nbactions.xml
/nb-configuration.xml

# Class files
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
